/* Match channel text area to user container - https://discord.com/channels/1015060230222131221/1028106818368589824/1166651812200317018 */
[class^="chatContent_"] form {
  padding: 0;
}

[class^="channelTextArea_"] {
  margin: 0;
}

[class^="channelTextArea_"] [class^="scrollableContainer_"] {
  border-radius: 0;
}

[class^="channelTextArea_"] [class^="scrollableContainer_"] [class^="inner_"] {
  min-height: 48px;
  padding-top: 8px;
  margin-right: 4px;

}

/* Move typing indicators */
[class^=typing_] {
  top: 0px;
  left: 0px;
  width: fit-content;
  padding-right: 9px;
  bottom: 10px;
  margin-bottom: -100px;
  background: var(--bg-overlay-3,var(--channeltextarea-background));
}

/* End Match channel text area to user container */
