/* Main Background Colour and Image */
.bg__12180 {
    background: url("https://github.com/ThetaHalo/stolen-vc-css/blob/main/images/cherry/flowers-petals.gif?raw=true") !important; /* You can use any GIF/PNG/JPEG Link */
    background-repeat: repeat; /* Adjust if needed (depending on media used) */
  }
  
  /* Additional Transparency */
  .custom-theme-background .withBackgroundOverride_b6a351 /* Overrides Nitro Themes (for Title Bar) */ {
    background: transparent !important;
  }
  
  /* Additional Recolouring */
  .wordmarkWindows__05c46, /* "Discord" Text */
  .winButtonClose__73489, /* Close Discord Button" Text */
  .winButtonMinMax__72f36, /* Maximize Discord Button */
  .winButtonMinMax__72f36:last-child /* "Minimize Discord Button */ {
      color: #ffffff;
  }
  
  /* Cleanup */
  body, .appMount_fae9dd /* Overrides Gradient (for Title Bar */ {
    background: var(--background-tertiary) !important;
  }